.header__bg {
    background: bottom / cover no-repeat url('/assets/img/header_bg.jpg');
    color: white;
    padding: 3rem;
    text-align: center;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-grey {
    background-color: #f0f0f0;
    color: black;
}

.avatar_custom {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
