.header__bg {
    background: bottom / cover no-repeat url('/img/header_bg.jpg');
    color: white;
    padding: 3rem;
    text-align: center;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
